		body {
			background: #707C80 ;
			color: #707C80 ;
			font-family: Ubuntu, Verdana, Tahoma, serif;
			}
		
		h1 {
			margin: 20px 0 30px;
			text-align:center;
			}
		
		a, h2 {
			color: #000;
			margin: 14px 0;
			}
			
		.projectsec img {
			width: 200px;
			height: 200px;
			padding-top:30px;
			
		}

		.circular {
			width: 100px;
			height: 100px;
			border-radius: 150px;
			-webkit-border-radius: 150px;
			-moz-border-radius: 150px;
			background: url(../img/me.jpeg) no-repeat;
			margin: 25px;
			}
			
		.examples .row p {
			background: #fff;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
            color:#777;
            padding:4px 0;
            text-align:center;
			}
			
			/* Divs */
			
		.navigation{
			background-color: #707C80; 
			color: #fff;
		}
		
		.aboutme{
			background-color: #F6F6F6;
		}
		
		.projectsec{
			background-color: #CCCCCC;
		}
		
		.contacts{
			background-color: #394042; 
			color: #fff;
		}
		
		.socmedia{
			background-color: #394042;
			text-align:center;
		}
		
			/* Divs */
		
			/* H1 */
			
		.contact{
			color: #FFF;
			text-align:center;
			}
			
			/* H1 */
			
		.nav{
			margin: 20px 0 30px;
			text-align:center;
			font-size: 20px;
			}